@media (max-width: 1200px){
	.abcd__inner,
	.abcd__title,
	.abcd__text,
	.abcd__link{
		width: 100%;
		text-align: center;
		padding-right: 0;
	}
	.abcd__inner{
		padding-right: 16px;
	}
}


@media (max-width: 992px){
	.content__title{
		padding-top: 50px;
	}
	.content__slider-title{
		padding-top: 10px;
	}
	.gallery{
		width: 220px;
		padding-bottom: 30px;
	}
	.nav-item{
		float: left;
	}
}


@media (max-width: 768px){
	li,ol,.between1,.between2{
		text-align: center;
	}
	.abcd__inner{
		width: auto;
		padding-right: 21px;
	}
	.footer__wrap-btn{
		margin-left: 40%;
	}
	.footer__wrap-mail{
		margin-left: 26%;
	}
}